<?xml version="1.0"?>
<launch>  

<!--include file="$(find tf2_extensions)/launch/tf2_static_transform_publisher.launch">
  <arg name="config_file" value="cman:transformations/wrist_1_ensenso.yaml" />
 </include>

<include file="$(find tf2_extensions)/launch/tf2_static_transform_publisher.launch">
  <arg name="config_file" value="cman:transformations/palette_corner.yaml" />
 </include-->

  <!--node name="pylon_marker" pkg="tf2_ros" type="static_transform_publisher" args="-0.128544 -0.641433 2.165108   0.985063 0.005586 0.051661 -0.164170  marker pylon"/-->
  <node name="depth_marker" pkg="tf2_ros" type="static_transform_publisher" args="-0.086869 -0.624846 1.638299   0.981940 0.015519 -0.017452 -0.187747 marker ensenso_base "/>

  <node name="area_depth" pkg="tf2_ros" type="static_transform_publisher" args="
0.050484389234970874 -0.04734149561161535 0.013541408085936412   -0.0011352491648352336 0.00035579667613153137 -0.002638952847914861 0.9999958102641859 ensenso_base pylon "/>

</launch>



