<?xml version="1.0"?>
<launch>  

<!--include file="$(find tf2_extensions)/launch/tf2_static_transform_publisher.launch">
  <arg name="config_file" value="cman:transformations/wrist_1_ensenso.yaml" />
 </include>

<include file="$(find tf2_extensions)/launch/tf2_static_transform_publisher.launch">
  <arg name="config_file" value="cman:transformations/palette_corner.yaml" />
 </include-->

  <node name="pylon_marker" pkg="tf2_ros" type="static_transform_publisher" args="-0.125703 -0.496838 2.170146   0.984512 -0.008469 0.055268 -0.166164  marker pylon"/>
  <node name="depth_marker" pkg="tf2_ros" type="static_transform_publisher" args="0.269002 -0.390827 1.574597   0.975904 0.017123 -0.031208 -0.215275 marker rgbd_cam_rgb_optical_frame "/>

</launch>
